[00].*purchase.*:{"code": 200,"data": [{"id": "000001","title": "Just beat it"},{"id": "id2","title": "We are the world"}]}
[01].*redeem.*:{"code": 200,"data": [{"id": "000002","title": "Just beat it"}]}
[00].*buy.*000001:{"code": 200,"data": "kkkk", "txTime": "20160401", "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
[01].*apply.*:{"code": 500,"data": random(16), "txTime": "20160401", "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
[11].*force.*:{"code": 500,"data": "random(9)", "txTime": random(11), "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
[11]33:{"code": 500,"data": "random(9)", "txTime": random(11), "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
[00]friends:{"code": 200,"data": [{"id":10021,"name":"黎儿"}{"id":10022,"name":"刘德华"}]}
[20]oauth2.*my:http://171o0752j0.51mypc.cn/m-sports-web/sport/wx/oauth/my?code=test&state=2
[00]oauth2.*access_token:{"openid":"testOpenId","access_token":"testAccessToken","expires_in":7200}
[00]userinfo:{"openid":"testOpenId","nickname":"江小鱼","sex":1,"province":"上海","city":"上海","headimgurl":"http://wx.qlogo.cn/mmopen/2TypBbdZFeb5bSfcepqH4pHG4tLSPiaML8IfkQPgOgp4nIBocnjebmdvv8MOr5oibCQGgyPbtTXjyOFdLAKGiar5qEShianhIDnB/0"}