00.*purchase.*:{"code": 200,"data": [{"id": "000001","title": "Just beat it"},{"id": "id2","title": "We are the world"}]}
00.*redeem.*:{"code": 200,"data": [{"id": "000002","title": "Just beat it"}]}
00.*buy.*000001:{"code": 200,"data": "kkkk", "txTime": "20160401", "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
00.*buy.*000002:{"code": 300,"data": "kkkk", "txTime": "20160401", "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
01.*apply.*:{"code": 500,"data": random(16), "txTime": "20160401", "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
11.*force.*:{"code": 500,"data": "random(9)", "txTime": random(11), "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
1133:{"code": 500,"data": "random(9)", "txTime": random(11), "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}
1111:{"code": 500,"data": "random(9)", "txTime": random(11), "userId":"9393922","transactionId":"232323399","transactionDate":"20150901","fundCode":"202301","fundType":"mmf","orgId":"nffund"}